[submodule "components/Heltec_ESP32"]
	path = components/Heltec_ESP32
	url = https://github.com/cinderblocks/Heltec_ESP32
[submodule "components/esp_tinygpsplusplus"]
	path = components/esp_tinygpsplusplus
	url = ../esp_tinygpsplusplus
	branch = main
